@model proyectoFinal.Models.recetaDetalle

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <div>
                <h4>Detalles</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                       Diagnóstico :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.consulta.diagnostico)
                    </dd>

                    <dt>
                       Medicamento :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Medicamento.Medicamento1)
                    </dd>

                    <dt>
                       Dosis :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.dosis)
                    </dd>

                    <dt>
                      Cantidad :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.cantidad)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.idreceta }, new { @class = "btn btn-success" })
                @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary" })
            </p>
        </div>
    </div>
</div>