@model proyectoFinal.Models.Medicamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medicamento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamento1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVencimiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idMed }, new { @class = "btn btn-success" }) 
    @Html.ActionLink("Regresar a la lista", "Index", null, new { @class = "btn btn-primary" })
</p>
